# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/
bin/
include/
lib/
share/
pyvenv.cfg

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
